.colorWheel {
  position: absolute;

  &__wrapper {
    position: relative;
    width: 100%;
    height: inherit;
    overflow: hidden;
  }

  &__canvas {
    position: absolute;
    cursor: pointer;
    overflow: visible;
  }
}