.colorWheel {
  position: absolute;
  border-radius: 50%;

  &__wrapper {
    position: relative;
    width: 100%;
    height: inherit;
    overflow: hidden;
  }

  &__canvas {
    position: absolute;
    cursor: pointer;
    overflow: visible;
    border-radius: 50%;
  }
}