{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current",
          "browsers": ["last 2 versions"]
        },
        "modules": false
      },
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-parameters",
    "@babel/plugin-syntax-object-rest-spread",
    "@babel/plugin-proposal-class-properties"
  ]
}